body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
  }
  /*--- navigation bar ---*/
  .navbar {
    background:#559038;
  }
  .nav-link,
  .navbar-brand {
    color: rgb(80, 163, 25);
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
  }
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -35%);
  text-align: center;
}
.description h1 {
  color: #6ab446;
}
.description p {
  color: rgb(22, 57, 173);
  font-size: 1.3rem;
  line-height: 1.5;
}